<html>
    <head>
        <title>Blog warsztatowy</title>
    </head>
    <body>
        <div>
            <h1><a href="">A moze jednak nie inaczej</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Duzo wody mineralnej</a></h2>
            <p>Arenum paranelum umorata bola wytwornia wodki koneser na ulicy zabkowskiej na przeciwko mrowka nie siada a dalej katedra i metro.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Po niedzieli jest sobota</a></h2>
            <p>W sumie powinien byc poniedzialek ale sie wszystko poprzestawialo i rano w kalendarzu ukazal sie piatek</p>
        </div>
    </body>
</html>